/* feuille vide pour surcharge */
@import "css/variables.less";
@import "css/spip.variables.less";
@import "css/mixins.less";
@import "bootstrap/css/forms.less";
@import "css/wells.less";
@import "css/layoutgala/33";
@import "css/layoutgala/35";
@import "css/layoutgala/10";
@import "css/layoutgala/40";

#layoutgala33 > .core(8,4,4,@gridColumnWidth,@gridGutterWidth);

strong,h4{
  font-weight:bold;
}

.main p{
  text-align:justify;
}
h2, .h2{
  font-size:1.7em;
}
.page_article h1,.page_hals_publication h1{
  margin-bottom:1.8em;
  line-height:1.1em;
  border-bottom:1px solid #ccc;
  padding-bottom:.8em;
}

h1.ellipse,h2.ellipse,h3.ellipse{
  position:relative;
  margin-bottom:1.8em;
  line-height:1.1em;
  padding-bottom:.5em;
  border:0;
}

h1 .ovale,h2 .ovale,h3 .ovale{
  width:200px;
  height:30px;
  border:1px solid #ccc;
  position:absolute;
  border-radius:100px/15px;
  -moz-border-radius:100px/15px;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Safari and Chrome */
  left:0;
  bottom:0px;
  z-index:10;
}

.ie8 h1 .ovale, .ie8 h2 .ovale, .ie8 h3.ovale{
  border:none;
  background:transparent url('img/ellipse.png') no-repeat center center;
  height:35px;
  width:202px;
}
h1.ellipse span.titre,h2.ellipse span.titre, h3.ellipse span.titre{
  z-index:20;
  display:block;
  width:100%;
  max-width:200px;
  text-align:center;
}

.cartouche .spip_logos,.entry-title .spip_logos{
  margin-right:-16px;
}

.page_auteur .cartouche .spip_logos,.page_auteur_email .cartouche .spip_logos{
  margin-right:0;
}
.chapo {
  font-weight:normal;
  font-size:1.2em;
  text-align:justify;
}

.wrapper a,.extra a,.evenements.seminaires .well a{
  color:@black;
  background: @bodyBackground; /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
  background: -webkit-linear-gradient(to right, #ffffff 0%, #ffffff 2%, @bodyBackground 50%, #ffffff 100%);
  background: -moz-linear-gradient(to right, #ffffff 0%, #ffffff 2%, @bodyBackground 50%, #ffffff 100%);
  background: -o-linear-gradient(to right, #ffffff 0%, #ffffff 2%, @bodyBackground 50%, #ffffff 100%);
  background: -webkit-gradient(linear, 100% 0, 0 0, from(#ffffff), color-stop(0.02, #ffffff), color-stop(0.50, @bodyBackground), to(#ffffff));
  background: linear-gradient(to right, #ffffff 0%, #ffffff 2%, @bodyBackground 50%, #ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.wrapper a:hover,.extra a:hover,.evenements.seminaires .well a:hover{
  color:@black;
  background: #fff99e; /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
  background: -webkit-linear-gradient(to right, #ffffff 0%, #ffffff 2%, #fff99e 50%, #ffffff 100%);
  background: -moz-linear-gradient(to right, #ffffff 0%, #ffffff 2%, #fff99e 50%, #ffffff 100%);
  background: -o-linear-gradient(to right, #ffffff 0%, #ffffff 2%, #fff99e 50%, #ffffff 100%);
  background: -webkit-gradient(linear, 100% 0, 0 0, from(#ffffff), color-stop(0.02, #ffffff), color-stop(0.50, #fff99e), to(#ffffff));
  background: linear-gradient(to right, #ffffff 0%, #ffffff 2%, #fff99e 50%, #ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.wrapper .well a,.extra .well a{
  background: @bodyBackground; /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
  background: -webkit-linear-gradient(to right, #eeeeee 0%, #eeeeee 2%, @bodyBackground 50%, #eeeeee 100%);
  background: -moz-linear-gradient(to right, #eeeeee 0%, #eeeeee 2%, @bodyBackground 50%, #eeeeee 100%);
  background: -o-linear-gradient(to right, #eeeeee 0%, #eeeeee 2%, @bodyBackground 50%, #eeeeee 100%);
  background: -webkit-gradient(linear, 100% 0, 0 0, from(#eeeeee), color-stop(0.02, #eeeeee), color-stop(0.50, @bodyBackground), to(#eeeeee));
  background: linear-gradient(to right, #eeeeee 0%, #eeeeee 2%, @bodyBackground 50%, #eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */
}

.wrapper .well a:hover,.extra .well a:hover{
  background: #fff99e; /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
  background: -webkit-linear-gradient(to right, #eeeeee 0%, #eeeeee 2%, #fff99e 50%, #eeeeee 100%);
  background: -moz-linear-gradient(to right, #eeeeee 0%, #eeeeee 2%, #fff99e 50%, #eeeeee 100%);
  background: -o-linear-gradient(to right, #eeeeee 0%, #eeeeee 2%, #fff99e 50%, #eeeeee 100%);
  background: -webkit-gradient(linear, 100% 0, 0 0, from(#eeeeee), color-stop(0.02, #eeeeee), color-stop(0.50, #fff99e), to(#eeeeee));
  background: linear-gradient(to right, #eeeeee 0%, #eeeeee 2%, #fff99e 50%, #eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */
}

.wrapper .actualites .span2 a{
  background:none;
  filter:none;
}
.pagination a,.main .pagination a, .markItUp .markItUpHeader a, .markItUp .markItUpTabs a, .markItUp .markItUpFooter a,
.formulaire_spip a,a.lien_document,a.lien_important,.main .pagination a:hover, .markItUp .markItUpHeader a:hover, .markItUp .markItUpTabs a, .markItUp .markItUpFooter a:hover,
.formulaire_spip a:hover,a.lien_document:hover,a.lien_important:hover,.lien_agenda,.lien_agenda:hover{
  background:none;
  filter:none;
}

.formulaire_spip a,.formulaire_spip a:hover{
  color:#fff99e;
}
a.lien_document,a.lien_document:hover,a.lien_important,a.lien_important:hover{
  padding-right:12px;
  background:transparent url(img/puce.gif) no-repeat right center;
}

.agenda_lien{margin:0 0 3em 45px}

.lien_agenda img{
  max-width:140px;
}
#extra{
  padding:0 2em;
}

.evenements.seminaires .well{
  background-color:transparent;
  border:0;
  padding:.5em 0;
  -moz-box-shadow:0px;
  box-shadow:0px;
}
.evenement.one{
  padding-bottom:.5em;
}
.article_evenements {
    #layoutgala10 > .core(5,3,3,@gridColumnWidth,@gridGutterWidth);
}
.evenement article{
  margin-bottom:0;
}

li .evenement ul.spip{
  margin-left:15px;
}
.maincontainer{
  background:@white url(img/bandeau_nb.png) no-repeat 0 0;
  padding:174px 10px 10px;
}
.ie8 .maincontainer{
  background-position:0 -15px;
}
.container .header{
  height:130px;
}

.container .header .spip_logos{
  position:absolute;
  float:none;
  margin:70px 0 0 0;
}

.accueil .span4{
  max-height:100px;
}

#descriptif_site_spip{
  margin-top:4em;
  margin-bottom:2em;
  font-size:1.4em;
  text-align:justify;
}

.axes_transversaux{
  margin-bottom:2em;
  clear:both;
}

.axes_transversaux .col2,.axes_transversaux .col1{
  margin-left:0;
}

.axes_transversaux .col1 h2.ellipse{
  float:right;
  width:200px;
}

.auteurs_vignette{
  padding-left:30px;
}

.auteurs_vignette .membre,.affiche{
  position:relative;
  width:127px;
  margin-bottom:30px;
}

.affiche{
  margin:0 auto 30px auto
}

.main .affiche{float:left; margin:.2em 1em .2em 0;}

.auteurs_vignette,.documents_vignette{
  width:127px;
  margin:0 30px 40px 30px;
}
.auteurs_vignette .membre,.documents_vignette .affiche{
  display:none;
}

.auteurs_vignette .membre:first-child,.documents_vignette .affiche:first-child{
  display:block;
}
.auteurs_vignette .ovale,.documents_vignette .affiche .ovale{
  width:227px;
  height:40px;
  border:1px solid #ccc;
  position:absolute;
  border-radius:113px/20px;
  -moz-border-radius:113px/20px;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Safari and Chrome */
  left:0;
  bottom:-18px;
  z-index:0;
  left:-50px;
}
.auteurs_vignette .membre a,.affiche a{
  background:none;
  filter:none;
  display:block;
  position:relative;
  color:#fff;
  -webkit-box-shadow:0px 0px 5px 3px #ccc;
  -moz-box-shadow:0px 0px 5px 3px #ccc;
  box-shadow:0px 0px 5px 3px #ccc;
}
.auteurs_vignette .membre a img,.affiche a img{
  width:100%;
  height:auto;
}
.auteurs_vignette .membre a:hover,.affiche a:hover{
  color:#fff99e;
  -webkit-box-shadow:0px 0px 5px 3px #fff99e;
  -moz-box-shadow:0px 0px 5px 3px #fff99e;
  box-shadow:0px 0px 5px 3px #fff99e;
}
.auteurs_vignette .nom,.affiche .titre{
  display:block;
  background:@black;
  position:absolute;
  bottom:0;
  padding:.5em;
  width:100%;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  text-align:center;
  color:@white
}

#aside .well{
  border:none;
  background:transparent url(img/background_well.png) 25px 0 no-repeat;
  box-shadow:none;
  padding-top:65px;
  min-height:440px;
}

#aside a{
  color:@grayDark;
}
.page .liste-items .item {
  //border-top: 1px solid @grayLighter;
  border:none;
}
.page .liste-items .item:first-child {padding-top:0;}
.page .liste-items .item:last-child {border-bottom: none;padding-bottom:0;}

.liste-actualites{
  list-style-type:disc;
  margin-left:0px;
}

.page .liste-items.liste-puce {
  list-style-type: none;
  margin-left: 15px;
  
}
.liste-puce li:before {
    content: "• "; /* caractère UTF-8 */
   font-size:24px;
   float:left;
   margin-left:-18px;
}
.page .liste-items.liste-puce .item{
  border:none;
  overflow:visible;
}

.liste-items.evenements .item.fini .entry-title a{
  color:#000;
}
button{.btn}

.formulaire_spip,.footer{
  color:@black;
}
h3.legend{
  legend;
  b{
    font-weight:normal;
  }
}
form input.text,form textarea,.markItUp .markItUpContainer .markItUpHeader{
  width:98%;
}
.formulaire_spip{
  legend,label,em.attention,h3.legend{
    color:@white;
  }
  .explication{
    color:@gray;
  }
  ul{
    list-style-type:none;
    margin-left:0;
  }
  li{
    margin-left:0;
  }
  .formulaire_crayon{
    h3{
      color:@white;
    }
    li.fieldset{background:@black;}
  }
  .diogene_selecteur_rubrique_unique{
    display:none;
  }
  .markItUp .markItUpTabs a{
    background-color:#ddd;
  }
  .markItUp .markItUpTabs a.on{
    background-color:#eee;
  }
  .markItUp .markItUpPreview{
    width:80%;
  }
  .markItUp .markItUpTabs{
    right:20%;
  }
}
// Everything else
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
button,
a,
.formulaire_spip a.aide {
  &:focus {
    border-color: rgba(244,233,79,.8);
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(244,233,79,.6)");
  }
}

input[type="file"]{
  color:#fff;
}
.thesaurus{
  text-align:justify;
  margin-bottom:2em;
  a{
    color:@black;
  }
  a:hover{
    background-color:transparent;
  }
}

#aside{
  margin-top:-120px;
}

.aside .menu-conteneur.nav > ul > li > a,.menu-conteneur.nav > ul > li > span{
  strong;
  font-size:1.3em;
  line-height:1.4em;
  margin-bottom:.3em;
  color:@black;
  display:block;
  background:transparent url(img/puce_menu_1.jpg) top left no-repeat;
  padding-left:15px; 
}

.aside .menu-conteneur.nav > ul > li > ul > li > a,.menu-conteneur.nav > ul > li > ul > li > span{
  font-family:'century_gothic';
  color:@black;
  font-size:1.3em;
  line-height:1.2em;
  margin-bottom:.2em;
}
.aside .nav-list li > a:hover {
  background-color:transparent;
  color:@gray;
}
.menu-conteneur.nav > ul li{
  margin-bottom:.5em;
}
.well{border:none;}
.aside .menu-conteneur.nav li{border:none; padding:0}
.aside .well > .nav > li{
  border-left:2px solid @black;
  margin:3px 0;
  padding-left:15px;
  
}
.aside .menu-conteneur.nav > ul > li li{
  padding-left:20px;
}
.menu-conteneur.nav ul ul.nav{
  margin-bottom:0;
  padding-left:.5em;
}

.header{
  .formulaire_menu_lang,#menu_lang{
    width:60%;
    float:left;
    margin-top:.5em;
  }
  #menu_lang{
    margin-top:2em;
  }
  .formulaire_recherche{
    width:50%;
    float:right;
    margin:1em 40px 0 0;
    padding-right:0;
  }
  .formulaire_menu_lang select,.form-search .input-append .search-query{
    margin-bottom:0;
    border:none;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, @white 0%, @bodyBackground 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,@white), color-stop(100%,@bodyBackground)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, @white 0%,@bodyBackground 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, @white 0%,@bodyBackground 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, @white 0%,@bodyBackground 100%); /* IE10+ */
    background: linear-gradient(to right,@white 0%,@bodyBackground 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    color:@black;
    -webkit-border-radius : 10px;
    -moz-border-radius : 10px;
    border-radius : 10px;
  }
  .search-query{
    height: 24px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }
  label{color:@gray;margin:.5em;}
  .form-search .btn,#menu_lang a,#menu_lang strong{
    -webkit-border-radius:14px;
    -moz-border-radius:14px;
    border-radius:14px;
    margin-left:3px;
    padding:2px 3px;
    vertical-align:middle;
    color:@black;
    background-color:@bodyBackground;
    background-image:none;
    z-index:100;
    -webkit-box-shadow: 1px 1px 2px #111;
    -moz-box-shadow: 1px 1px 2px #111;
    box-shadow: 1px 1px 2px #111;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    display:inline-block;
    min-width:16px;
    text-align:center;
  }
  #menu_lang a:hover{
    color:@white;
    background-color:@grayDark;
    font-weight:normal;
  }
  #menu_lang strong{
    color:@white;
    background-color:@black;
    font-weight:normal;
  }
  .form-search .btn{
    position:absolute;
    bottom:0;
    right:0;
  }
}

.ie8 .header{
  .form-search .btn{
    background:transparent url('img/button_search.png') no-repeat center center;
    border:none;
    width:30px;
    height:28px;
   }
}
.page_agenda{
  #content{
    h3{
      border-bottom:1px solid #ccc;
      padding-bottom:0.8em;
      font-size:1.8em;
      line-height:1.1em;
    }
  }
}

.page_auteur{
  #content{
    h2{
      border-bottom:1px solid @gray;
      padding-bottom:0.625em;
    }
  }
}
.footer{
  border:none;
  margin-top:0em;
}

.nav ul{
 list-style-type:none;
 margin-left:0;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus{
  background:transparent;
  strong
}

.on{
  font-weight:normal;
  strong;
}
.liste .h2{
  margin-bottom:.5em;
}

.secondary .liste-items .entry-content,.liste-items.evenements .item.fini .entry-content{
  max-height:initial;
}

.pagination{
  text-align:right;
}

.pagination .label{
  display:none;
}
.pagination ul{
  border:none;
}
.pagination ul > .active > span{
  color:@black;
  background: @bodyBackground; /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
  background: -webkit-linear-gradient(to right, #ffffff 0%, #ffffff 2%, @bodyBackground 50%, #ffffff 100%);
  background: -moz-linear-gradient(to right, #ffffff 0%, #ffffff 2%, @bodyBackground 50%, #ffffff 100%);
  background: -o-linear-gradient(to right, #ffffff 0%, #ffffff 2%, @bodyBackground 50%, #ffffff 100%);
  background: -webkit-gradient(linear, 100% 0, 0 0, from(#ffffff), color-stop(0.02, #ffffff), color-stop(0.50, @bodyBackground), to(#ffffff));
  background: linear-gradient(to right, #ffffff 0%, #ffffff 2%, @bodyBackground 50%, #ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.pagination ul > .active > a{
  background:none;
}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span{
  border-left:none;
}
.wrapper .pagination ul > li > a,.pagination ul > li > a, .pagination ul > li > span{
  background:none;
}
.wrapper .pagination ul > li > a:hover,.pagination ul > li > a:hover{
  background:none;
}
.menu_membres{
  text-align:center;
  font-size:1.2em;
  margin:1em 0;
  a, strong{
    margin-right:1em;
  }
}

.fonctions{
  margin-bottom:2em;
  padding-bottom:.5em;
  border-bottom:1px solid @gray;
}

.fonction_orga_top{
  clear:both;
  margin-bottom:1em;
  text-align:center;
}

.fonctions_orga{
  position:relative;
}
.fonctions_orga h2{
  margin-bottom:0.4em;
}

h1 small, .h1 small, .h1-like small, h2 small, .h2 small, .h2-like small, h3 small, .h3 small, .h3-like small, h4 small, .h4 small, .h4-like small, h5 small, .h5 small, .h5-like small, h6 small, .h6 small, .h6-like small{
    color:@grayDark;
    display:block;
    padding-top:.3em;
}
.fonctions_orga .chercheurs_cnrs,.fonctions_orga .enseignants_chercheurs{
  text-align:left;
  width:50%;
  float:left;
}

.fonctions_orga .doctorants{
  width:50%;
  margin:0 25%;
  clear:both;
}

.fonctions_orga .doctorants h3,.fonctions_orga .doctorants_modernite h3{
  text-transform: uppercase;
}
.vevent .entry-title{
  font-size:1.1em;
  margin :.3em 0;
}

.vevent strong time{
  padding:0 0 5px 0;
  display:block;
}

.vevent p{
  padding:0 0 5px 0;
  margin-bottom:0;
}

abbr.dtstart,abbr.dtend{
  border-bottom:none;
}

.error .inner {
  color:#fff;
  background-color:transparent;
  border:none;
}

.page_publier {
  .liste-items .publication, .liste-items .postmeta{
    display:block;
  }
}

.rubrique_publications p.soustitre{
  padding-top:.3em;
  font-size:1.5em;
  color:#444;
}

li.type_publication{
  ul{
    display:none;
  }
}
li.type_publication.ouverte{
  ul{
    display:block;
  }
}
@media (min-width: 1200px) {
  .organigramme_main h2.ellipse{
    width:260px;
    background:#fff;
    margin:-1.5em auto 2em auto;
    position:absolute;
    top:-1em;
    left:80px;
  }
  #layoutgala33 > .core(8,4,4,@gridColumnWidth1200,@gridGutterWidth1200);
  .article_evenements {
    #layoutgala10 > .core(5,3,3,@gridColumnWidth1200,@gridGutterWidth1200);
  }
  .page_organigramme {
    #layoutgala40 > .core(12,6,6,@gridColumnWidth1200,@gridGutterWidth1200);
  }
  .maincontainer{
    background:@white url(img/bandeau_nb.png) no-repeat 0 0;
    padding:174px 15px 15px;
  }
  
  .ie8 .maincontainer{
    background-position:0 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #layoutgala33 > .core(8,4,4,@gridColumnWidth768,@gridGutterWidth768);
  .article_evenements {
    #layoutgala35 > .core(8,4,8,@gridColumnWidth768,@gridGutterWidth768);
  }
  .container .header .spip_logos{
    max-width:250px;
  }
  .maincontainer{
    margin-top:-40px;
  }
  #aside{
    margin-top:-100px;
  }
}

@media (max-width: 767px) {
  #layoutgala33 > .core(6,4,4,@gridColumnWidth768,@gridGutterWidth768);
  #wrapper{width:inherit;float:left;}
  #aside{margin-top:0;}
  .article_evenements {
    #layoutgala40 > .core(6,4,4,@gridColumnWidth768,@gridGutterWidth768);
  }
  .article_evenements,.page_organigramme {
    div#content{
      width:100%;
    }
    
    div#aside,div#extra{width:48%;margin:0px;}
  }
  
  .page_organigramme .content{
      padding:0 2%;
    }
  .organigramme_main{
    margin-top:3em;
  }
  .organigramme_main h2.ellipse,.organigramme_main .modernite h2.ellipse{
    position:relative;
    left:initial;
    right:initial;
    margin:-1.5em auto 1em auto
  }
  .page_organigramme .fonctions_orga{
    clear:both;
    padding:0 2%;
  }
  
  .page_organigramme .fonctions_orga.modernite{
    margin-top:8em;
  }
  .accueil{
    margin-top:100px;
  }
  header>.span4{
    width:50%;
    float:left;
  }
  .header > .row > .span4{
    width:100%;
    margin:0;
    position:absolute;
    top:0;
    overflow:auto;
  }
  .header > .row > .span4 .formulaire_spip{
    width:40%;
    clear:none;
    margin-top:10px;
    padding-top:0;
   }
   .maincontainer{
     margin-top:100px;
   }
}
@media (max-width: 655px) {
  #layoutgala40 > .core(6,4,4,@gridColumnWidth768,@gridGutterWidth768);
  .article_evenements {
    #layoutgala40 > .core(6,4,4,@gridColumnWidth768,@gridGutterWidth768);
  }
  
  .article_seminaire div#aside,.article_evenements div#aside{
    display:none;
  }
  div#content,div#aside,div#extra{width:100%;margin:0px;}
  .container .header .spip_logos,#logo_site_spip{
    position:relative;
    float:right;
    margin:10px;
  }
  .article_seminaire,.article_evenements {
    div#content,div#aside,div#extra{float:none;width:100%;margin:0px;clear:both;}
  }
  header>.span4{
    width:100px;
    float:left;
  }
}