<plugin>
	<nom>Thalim</nom>
	<version>0.1.0</version>
	<etat>stable</etat>
	<auteur>kent1</auteur>
	<licence>GPL</licence>
	<prefix>theme_thalim</prefix>
	<slogan>Thème de l'unité mixte de recherche Thalim</slogan>
	<description>Le thème utilisé pour l'unité mixte de recherche [Thalim->http://www.thalim.cnrs.fr]</description>
	<icon>vignette.png</icon>
	<utilise id="spipr" version="[0.1.0-dev;]" />
	<categorie>theme</categorie>
</plugin>